---
import MainLayout from '@layouts/MainLayout.astro';
import Heading from '@components/Heading.astro';
import Container from '@components/Container.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import NoteCard from '@components/NoteCard.astro';
const notesEntries = await getCollection('notes');

interface Props {
  note: CollectionEntry<'notes'>;
}
---

<MainLayout title='MDX Notes'>
  <Container>
    <Heading heading='MDX Notes' subheading='An Experiment' />
    <h2>Here are my notes:</h2>
    <section>
      {
        notesEntries.map((note) => {
          return (
            <div>
              <NoteCard
                url={`/notes/${note.slug}`}
                description={note.data.description}
                title={note.data.title}
                pubDate={note.data.pubDate.toDateString()}
                tags={note.data.tags}
                {...note}
              />
            </div>
          );
        })
      }
    </section>
  </Container>
</MainLayout>

<style>
  ul {
    list-style-type: none;
    padding: 0;
  }
</style>
