---
// import type { CollectionEntry } from 'astro:content';
// interface Props {
//   note: CollectionEntry<'notes'>;
// }

// const { note } = Astro.props;

const { url, title, description, pubDate, tags } = Astro.props;
---

<a href={url}>
  <article>
    <!-- <p><a href={`/notes/${note.slug}`}>{note.data.title}</a></p>

  <p>{note.data.description}</p>
  <span>{note.data.pubDate.toDateString()}</span> -->
    <h2>{title}</h2>
    <p>{description}...</p>
    <span class='date'>{pubDate}</span>
    <div class='tag-container'>
      {tags.map((tag) => <span>#{tag}</span>)}
    </div>
  </article>
</a>
<style>
  article {
    margin: 24px 0;
    background: var(--card-background);
    padding: 18px 22px;
    border: 4px solid goldenrod;
    border-radius: 1%;
  }

  h2 {
    color: var(--headings);
    font-size: 2.2rem;
    text-shadow: 2px 2px 2px hsl(209, 23%, 23%);
    letter-spacing: 0.1rem;
  }

  a {
    text-decoration: none;
  }

  p {
    font-weight: 700;
    color: var(--text);
  }

  .date {
    font-size: 1.1rem;
    color: var(--headings);
    font-weight: 600;
    font-style: italic;
  }

  .tag-container {
    display: flex;
    gap: 16px;
    margin: 12px 0;
    flex-wrap: wrap;
    color: var(--headings);
    font-weight: 900;
    font-size: 1.2rem;
    padding: 16px 0;
  }

  .tag-container span {
    line-height: 0.5;
  }
</style>
