---
// import type { CollectionEntry } from 'astro:content';
// interface Props {
//   note: CollectionEntry<'notes'>;
// }

// const { note } = Astro.props;

const { url, title, description, pubDate, tags } = Astro.props;
---

<a href={url} class='no-underline'>
  <article class='my-6 bg-card-bg p-4 px-6 border-4 border-yellow-500 rounded-sm'>
    <!-- <p><a href={`/notes/${note.slug}`}>{note.data.title}</a></p>

  <p>{note.data.description}</p>
  <span>{note.data.pubDate.toDateString()}</span> -->
    <h2 class='text-headings text-4xl text-shadow-heading tracking-wide'>{title}</h2>
    <p class='font-bold text-text-primary'>{description}...</p>
    <span class='text-lg text-headings font-semibold italic'>{pubDate}</span>
    <div class='flex gap-4 my-3 flex-wrap text-headings font-black text-xl py-4'>
      {tags.map((tag) => <span class='leading-none'>#{tag}</span>)}
    </div>
  </article>
</a>
